@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  display: flex;
  margin: auto;
}

.boxes {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box {
  height: 100%;
  width: 50%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Parte do header */

.header {
  margin: 0;
  background-color: #9b9b9b;
}

.header img {
  width: 200px;
}

.header .container {
  justify-content: center;
}

.header .navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  padding: 0px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

/* Parte do Banner */

.banner {
  color: #ffffff;
  background-image: url(../assets/banner.png);
  background-size: cover;
}

.banner .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boxButtons {
  margin: 2%;
  padding: 2%;
  background-color: #9b9b9b;
  border: 1px solid #9b9b9b;
  opacity: 50%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

/* Parte do Social */

.social .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Parte da missao */

.missao {
  color: #ffffff;
  background-image: url(../assets/missao.png);
  background-size: cover;
}

.missao .boxes {
  justify-content: space-around;
}

.missao .box {
  justify-content: flex-start;
  text-align: center;
  width: 30%;
  font-size: 25px;
}

/* Parte do diagrama */

.diagrama .boxes {
  flex-direction: column;
}

.diagrama .box_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.diagrama .box_1 a {
  background-color: #000000;
  color: #ffffff;
  width: 50%;
  text-align: center;
  padding: 5%;
  align-self: center;
  border-radius: 50px;
  text-decoration: none;
}

.diagrama .box_1_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.diagrama .box_2 img {
  width: 100%;
}

/* Parte do dht11 */

.dht11 {
  background-color: #141414;
  color: #ffffff;
  font-size: 30px;
  text-align: justify;
}

.dht11 img {
  width: 75%;
  border-radius: 50px;
}

/* Parte finalizacao */
.finalizacao {
  color: #ffffff;
  background-image: url(../assets/finalizacao.png);
  background-size: cover;
}

.finalizacao .boxes {
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}

.finalizacao .boxes img {
  width: 85%;
}

/* Parte footer */
.footer {
  background-color: #141414;
  color: #ffffff;
}

.footer img {
  width: 100%;
  border-radius: 50px;
}

.footer span {
  margin-bottom: 2%;
}

.footer .container {
  flex-direction: column;
  text-align: center;
}

.footer .boxes {
  justify-content: center;
  align-items: start;
  margin-bottom: 0;
}

.footer .box {
  justify-content: flex-start;
  text-align: center;
  font-size: 25px;
}

.footer .box_1 {
  text-align: justify;
}

#img_local {
  width: 400px;
}

/* Parte login */
