@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  display: flex;
  margin: auto;
}

.header {
  margin: 0;
  background-color: grey;
}

.header .container {
  justify-content: center;
}

.header .navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  padding: 0px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

/* Parte do Banner */

.banner {
  height: 750px;
  color: #ffffff;
  background-image: url(../assets/banner.png);
}

.banner .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner .box {
  height: 100%;
  width: 50%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxButtons {
  display: flex;
  align-items: center;
}
